<!DOCTYPE html>
<html data-ng-app="ProgressCircleApp">

  <head>
    <meta charset="utf-8">
    <title>Progress Circle App</title>
    <script type="text/javascript" src="vendor/bower/angular/angular.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  </head>

  <body>
    <div id='container' data-ng-controller="ProgressCircle">
      Actual: <input ng-model="actual" type="text"/>
      <br>
      Expected: <input ng-model="expected" type="text"/>
      <br>
      Actual: {{actual}} Expected: {{expected}}
      <br>
      <progress-circle actual={{actual}} expected={{expected}}></progress-circle>
      <br>
    </div>
    <script type="text/javascript" src="dist/my-package.js"></script>
  </body>

</html>
